header{
	padding-top:30px;
	padding-bottom:60px;
	color:white;
}

header a{
	text-decoration: none;
	color:white;
}

.welcome{
	text-align: center;
	padding-top: 90px;
}

.heading{
	padding-top:30px;
	text-align: center;
	font-weight: bolder;
	font-size:20px;
}

.hButton{
	padding-top:40px;
	text-align: center;
}

.hButton>button{
	background-color: rgb(254,209,54);
	color:white;
	padding:10px;

}

#services{
	background-color:white;
}

.servHeading{
	padding-top:60px;
	font-weight: bold;
	font-size:17px;
	text-align:center;
}

.servSmall{
	font-size:10px;
	color:grey;
	text-align:center;
	padding-top:10px;
}

.servIcons{
	padding:60px;
}

.iconT{
	color:rgb(254,209,54);
}

.centerT{
	text-align:center;
}

#PortFolio{
	background-color: lightgray;
	padding-top:30px;
	padding-bottom:30px;
}

#about{
	background-color: white;
	text-align:center;
	padding-top:30px;
	padding-bottom:30px;

}

#team{
	background-color: lightgray;
	text-align:center;
	padding-top:30px;
	padding-bottom:30px;
}

.textT{
	padding-left:20px;
	padding-right:20px;
}
#contact{
	color:white;
	text-align:center;
	padding-top:30px;
	padding-bottom:30px;
}

.formT{
	padding-top:40px;
}

.formT input{
	margin:5px;
}

footer{
	background-color: lightgray;
	text-align:center;
	padding-top:30px;
	padding-bottom:30px;
}

.slideT>img{
	margin-left:auto;
	margin-right:auto;
}

.mySlick{
	padding-top: 30px;
}

.container-fluid{
	background-image: url("./images/back.jpg");
}

.back-to-top { 
background: none;
margin: 0;
position: fixed;
bottom: 20px;
right: 20px;
width: 70px;
height: 70px;
z-index: 100;
display: none; 
text-decoration: none;
color: deepskyblue; 
}
 
  
 
.back-to-top i {
 
  font-size: 60px;
 
}

